<li>
	{{burger_name}}

	<button class="to-eat" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Let's eat!{{else}}Devour!{{/if}}
	</button>
	<button data-deleteburger="{{id}}" class="delete-burger">Delete</button>
</li>
