<li>
	{{burger_name}}

	<button class="to-eat" data-id="{{id}}" data-stomach="{{ordered}}">
		{{#if ordered}}Order{{else}}Return{{/if}}
	</button>
	<button data-deleteburger="{{id}}" class="delete-burger">{{#if ordered}}Delete{{else}}Devour{{/if}}</button>
</li>

<script>

	$(function () {
		$(".to-eat").on("click", function (event) {
			let id = $(this).data("id");
			let newBurger = $(this).data("stomach");

			let newBurgerState = {
				ordered: newBurger
			};

			// Send the PUT request.
			$.ajax("/api/burgers/" + id, {
				type: "PUT",
				data: newBurgerState
			}).then(
				function () {
					console.log("changed state to", newBurger);
					// Reload the page to get the updated list
					location.reload();
				}
			)
		});

		$(".delete-burger").on("click", function (event) {
			event.preventDefault();
			let id = $(this).data("deleteburger");

			// Send the DELETE request.
			$.ajax("/api/burgers/" + id, {
				type: "DELETE",
			}).then(
				function () {
					console.log("deleted", id);
					// Reload the page to get the updated list
					location.reload();
				}
			);
		});
	})

</script>